<h1 class="title">All Customers</h1>

<%= link_to "Customers Missing Email", missing_email_customers_path %>
<%= link_to "Alphabetized Customers", alphabetized_customers_path %>

<%= render partial: 'customer', collection: @customers %>

