<h1>Customers Missing Email</h1>

<%= link_to "All Customers", root_path %>
<%= link_to "Alphabetized Customers", alphabetized_customers_path %>

<%= render partial: 'customer', collection: @customers %>
