<!DOCTYPE html>
<html>
  <head>
    <title>Your App Name</title>
    <!-- Include Bulma CSS -->
    <%= stylesheet_link_tag 'bulma' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
