<!DOCTYPE html>
<html>
<head>
  <title>Your App Name</title>
  <%= stylesheet_link_tag 'application', 'bulma' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <%= yield %>
</body>
</html>
